# Assign Multiple Values · Output Variables · Global Variables

## Exact Definition

**Assign Multiple Values:** Assign multiple `values` to multiple `variables` in a single line.

**Output Variables:** Displaying the `value` stored in variables using `print()` or formatted output.

**Global Variables:** A variable declared outside all functions.  
To modify it inside a function, use the `global` keyword.

## Syntax

a, b, c = value1, value2, value3

x = y = z = value

p, q = iterable

a, b = b, a

global variable_name

## Alternative Code Styles

### 1) Tuple Assignment Style
Assign values using tuple form.

In [55]:
a, b = (40, 60)
print(a, b)

40 60

### 2) `.format()` Formatting Style
Use `.format()` to print values.

In [56]:
name = "Phone"
price = 20000
print("{} costs ₹{}".format(name, price))

Phone costs ₹20000

### 3) Function Return Style
Update variable using function return.

In [57]:
counter = 0
def update(v): return v + 1
counter = update(counter)
print(counter)

1

## Real-Life Example
Warehouse stock quantities

In [58]:
s1, s2, s3 = 150, 90, 200
print('Stock:', s1, s2, s3)

Stock: 150 90 200

## Real-World Usage

- Assign related values fast  
- Swap variables  
- Format output  
- Maintain counters  
- Unpack API response

## Examples

### Example 1 — Multiple Assignment

In [59]:
length, width, height = 12, 5, 3
print(length, width, height)

12 5 3

### Example 2 — Product Price

In [60]:
product = "Tablet"
price = 15000
print(f"{product}: ₹{price}")

Tablet: ₹15000

### Example 3 — Unpack List

In [61]:
user = ["Giri", 27]
name, age = user
print(name, age)

Giri 27

### Example 4 — Same Value Assignment

In [62]:
f1 = f2 = f3 = True
print(f1, f2, f3)

True True True

### Example 5 — Global Counter

In [63]:
visits = 0
def visit():
    global visits
    visits += 1
visit()
print(visits)

1

# Practice Questions — Real-Life Scenario Based

### 1) Grocery Billing
Assign 12, 18, 25 and print total.

In [64]:
a,b,c = 12,18,25
print(a+b+c)

55

### 2) Bus Ticket
Store name & seat.

In [65]:
name, seat = "Akash", 14
print(name, seat)

Akash 14

### 3) Steps Count
Print total steps.

In [66]:
d1,d2 = 4800,6200
print(d1+d2)

11000

### 4) Same Rating
Assign rating 4 to 3 vars.

In [67]:
x=y=z=4
print(x,y,z)

4 4 4

### 5) Visit Counter
Increase global visit.

In [68]:
visits=0
def inc():
 global visits; visits+=1
inc(); print(visits)

1

### 6) Parcel Dimensions

In [69]:
l,w,h = [20,15,10]
print(l,w,h)

20 15 10

### 7) Salary Calculation

In [70]:
b,bo,t = 30000,5000,2000
print(b+bo-t)

33000

### 8) Temperature Increase

In [71]:
m,e = 22,31
print(e-m)

9

### 9) Stock Update

In [72]:
stock=50
def sell():
 global stock; stock-=5
sell(); print(stock)

45

### 10) Student Info

In [73]:
r,n,g = (101,'Ravi','A')
print(r,n,g)

101 Ravi A

### 11) Monthly Expenses

In [74]:
f,*m,l = (12000,8000,6000,3000)
print(f,m,l)

12000 [8000, 6000] 3000

### 12) API Response

In [75]:
c,m,d = (200,'Success',{'user':'Giri'})
print(c,m,d)

200 Success {'user': 'Giri'}

### 13) Shared Reference

In [76]:
x=y=[1,2]
x.append(3)
print(x,y)

[1, 2, 3] [1, 2, 3]

### 14) App Session Tracker

In [77]:
s=0
def op():
 global s; s+=1
op(); op(); print(s)

2

### 15) Vehicle Info

In [78]:
num,col,yr = ('KA01AB1234','White',2020)
print(num,col,yr)

KA01AB1234 White 2020

### 16) App Rating

In [79]:
app, rating = "ChittiApp", 4.8
print(app, rating)

ChittiApp 4.8

### 17) Bank Balance

In [80]:
bal=5000
def dep():
 global bal; bal+=1000
dep(); print(bal)

6000

### 18) Temperature Max

In [81]:
t1,t2,t3 = 25,28,29
print(max(t1,t2,t3))

29

## Interview Q&A

**Q1: What is multiple assignment?**

Assigning many values in one line.

**Q2: How to swap values?**

`a, b = b, a`

**Q3: What is a global variable?** 

Accessible everywhere.

**Q4: Why avoid `a=b=[]`?**

Both share same list.

**Q5: What is unpacking?** 

Extracting values into variables.